@import 'diksha-questionnaire-player/web-component/styles.css';
.details-background {
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    max-height: 100%;
  }
  .details-section {
    width: 100%;
    border: 2px solid transparent;
  }