.add-entity-btn {
    margin: 1rem;
    background-color: var(--primary-color);
    color: var(--general-btn-text-color);
    border-radius: 0.5rem;
    padding: 0 1rem;
    cursor: pointer;
    min-width: 5.6rem;
    min-height: 2.5rem;
    font-size: 0.875rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    float: right;
    border: none;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary-btn {
    background-color: var(--primary-color);
    color: var(--general-btn-text-color);
    border: none;
}

.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-btn-container {
    display: flex;
    justify-content: flex-end;
}

.delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.delete-container:empty {
    visibility: hidden;
}

  .disabled-button {
    background-color: var(--disabled-btn-bg) !important;
    color: var(--disabled-btn-text) !important;
    border-color: var(--disabled-btn-text)  !important;
    cursor: not-allowed;
  }
 
  .grid-item {
    cursor: pointer;
  }
  .observation-card{
    height: 100%;
  }
  .observation-name {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  .observation-list {
    padding: 1rem;
  }
  