.add-entity-btn {
    margin: 1rem;
    background-color: var(--primary-color);
    color: var(--general-btn-text-color);
    border-radius: 0.5rem;
    padding: 0 1rem;
    cursor: pointer;
    min-width: 5.6rem;
    min-height: 2.5rem;
    font-size: 0.875rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    float: right;
    border: none;
}

.btn {
    background-color: var(--primary-color);
    color: var(--general-btn-text-color);
    border: solid transparent 0.063rem;
    border-radius: 0.25rem;
    padding: 0.75rem;
    min-width: 5.6rem;
    min-height: 2.5rem;
    font-size: 0.875rem;
    font-weight: 700;
}

.btn:hover {
    background-color: var(--general-btn-hover-bg);
    color: var(--primary-color);
    border: solid var(--primary-color) 0.063rem;
}


.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary-btn {
    background-color: var(--primary-color);
    color: var(--general-btn-text-color);
    border: none;
}

.search {
    margin-top: 0.313rem;
}

.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-btn-container {
    display: flex;
    justify-content: flex-end;
}

.delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.delete-container:empty {
    visibility: hidden;
}

.mat-mdc-list-option,
.mat-mdc-list-option.mat-accent {
    --mdc-checkbox-selected-icon-color: var(--primary-color);
    --mdc-checkbox-selected-hover-icon-color: var(--color-secondary);
}

.heading {
    font-size: 1.563rem;
}

.heading-paragraph {
    margin-bottom: 1.563rem;
}

.search-add-entity {
    height: 2.938rem !important;
}

  img {
    width: 50%;
    max-width: 18.75rem;
    }

  .disabled-button {
    background-color: var(--disabled-btn-bg) !important;
    color: var(--disabled-btn-text) !important;
    border-color: var(--disabled-btn-text)  !important;
    cursor: not-allowed;
  }
 
  .grid-item {
    cursor: pointer;
  }
  .observation-card{
    height: 100%;
  }
  .observation-name {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  .observation-list {
    padding: 1rem;
  }
  .center-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  