.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-opacity);
  }
  
  .modal-content {
    background-color: var(--color-light);
    padding: 1.25rem;
    border-radius: 0.625rem;
    width: 90%;
    max-width: 31.25rem;
  }
  
  .modal-content header {
    display: flex;
    justify-content: space-between;
  }
    
  .modal-title {
    font-size: large;
  }
  
  .modal-input {
    margin-right: 0.625rem;
    accent-color: var(--color-primary);
  }
  
  .modal-content ul {
    padding-left: 0;
    margin: 0;
    width: 100%;
  }
  
  .modal-content li {
    display: flex;
    align-items: center;
  }
  
  .question-footer {
    display: flex;
    justify-content: center;
  }
  
  .apply{
    border-radius: 1.25rem;
    padding: 0.625rem 0.9375rem;
    background-color: var(--color-primary) !important;
    color: var(--color-light);
    margin: 0.3125rem;
    border-color: var(--color-secondary);
    cursor: pointer;
  }
  
  .close-btn:hover {
    background-color: var(--color-danger);
    color: var(--color-light);
    border-radius: 1.25rem;
  }
  