.dialog-title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.dialog-message{
    font-size: 14px;
}

.buttons-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.buttons-list button{
    margin-right: 12px;
}

.dialog-primary-button {
    background-color: var(--primary-color) !important;
    color: var(--general-btn-text-color) !important;
}